@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html,
body {
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-ExtraLight.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Light.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Light.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("/resources/fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}

/*.main {*/
/*    width: 100vw;*/
/*    min-height: 100vh;*/
/*    justify-content: center;*/
/*}*/

/*.main:before {*/
/*    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #161616 100%);*/
/*    z-index: 2;*/
/*    top: 0;*/
/*}*/

/*.main:after {*/
/*    content: "";*/
/*    background-image: url("/resources/img/grid.svg");*/
/*    z-index: 1;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0.2;*/
/*}*/

